<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kong vs Godzilla</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300@600&display=swap" rel="stylesheet"> 
    <script src="https://unpkg.com/vue"></script>
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="score">
                <h1>Kong</h1>
                <div class="profile">
                    <img class="profile" src="assets/kong_profile.jpg" alt="King Kong" />
                </div>
                <div class="life-bar">
                    <div class="life"
                            :class="{danger: kongLife < 20}"
                            :style="{width: kongLife + '%'}">
                    </div>
                </div>
                <div>{{ kongLife }}</div>
            </div>
            <div class="score">
                <h1>Godzilla</h1>
                <div class="profile">
                    <img class="profile" src="assets/godzilla_profile.jpg" alt="King Kong" />
                </div>
                <div class="life-bar">
                    <div class="life"
                            :class="{danger: godzillaLife < 20}"
                            :style="{width: godzillaLife + '%'}">
                    </div>
                </div>
                <div>{{ godzillaLife }}</div>
            </div>
        </div>
        <div v-if="hasResult" class="panel result">
            <div v-if="godzillaLife == 0" class="win">Uaaa! Kong WIN ! &#x1F412;</div>
            <div v-else class="lose">BIRLL! GODZILAA WIN ! &#x1F409;</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button @click="attack(false)" class="btn attack">Attack</button>
                <button @click="attack(true)" class="btn special-attack">Special Attack</button>
                <button @click="healAndHurt"class="btn heal">Heal</button>
                <button @click="running = false" class="btn exit">Exit</button>
            </template>
            <button v-else @click="startGame" class="btn new-game">Play</button>
        </div>
        <div v-if="logs.length" 
            class="panel logs">
            <ul>
                <li v-for="log in logs"
                    :class="log.cls"
                    class="log">
                    {{ log.text }}
                </li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>