/* Body Style */

html {
    font-family: 'Poppins', sans-serif;
}

#app {
    display: flex;
    flex-direction: column;
}

.panel {
    margin: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.30);
}

/* Points Score */

.profile {
    height: 300px ;
    width: 450px;
}

.scores {
    display: flex;
}

.score {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    font-weight: 600;
}

.life-bar {
    margin-top: 10px;
    width: 80%;
    height: 20px;
    border: 1px solid #AAA;
}

.life-bar .life {
    display: flex;
    justify-content: center;
    height: 100%;
    background-color: green;
}

.life-bar .life.danger {
    background-color: red;
}

/* Área do Resultado */

.result {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: 300;
}

.result .win {
    color: green;
}

.result .lose {
    color: red;
}

/* Área dos Botões */

.buttons {
    display: flex;
    justify-content: center;
}

.btn {
    padding: 5px 10px;
    margin: 0px 5px;
    border-radius: 5px;
    text-transform: uppercase;
}

.new-game {
    background-color: royalblue;
    color: white;
}

.attack {
    background-color: rgb(230, 18, 18);
    color: white;
}

.special-attack {
    background-color: rgb(231, 142, 8);
    color: white;
}

.heal {
    background-color: rgb(80, 233, 106);
    color: white;
}

.exit {
    background-color: rgb(167, 86, 233);
    color: white;
}

/* Área dos Logs */

.logs ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.logs ul li {
    display: flex;
    justify-content: center;
    margin: 4px 0px;
    padding: 3px 0px;
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-radius: 3px;
}

.kong {
    background-color: indigo;
    color: #fff;
}

.godzilla {
    background-color: red;
    color: #fff;
}